@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    /* 43bccd-d1c8e1-153243-284b63-fcb97d */
    --primary-color: #43bccd;
    --secondary-color: #d1c8e1;
    --accent1-color: #153243;
    --accent2-color: #284b63;

    --heading-font: 'Open Sans', sans-serif;
    --paragrah-font: 'Open Sans', sans-serif;

    --nav-background-color: grey;
    --nav-link-color: yellow;
    --nav-hover-link-color: blue;
    --nav-hover-background-color: white;
}
* {
    box-sizing: border-box;
}

header, main, footer {
    max-width: 1200px;
    margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family);
    color: var(--primary-color);
}

p {
    font-family: var(--font-family);
    color: var(--secondary-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}



.hero {
    position: relative;
}

.hero img {
    width: 100%;
    display: block;
}

.hero h1 {
    position: absolute;
    top:50px;
    left: 0;
    right: 0;
    background-color: var(--secondary-color);
    border-radius: 10px 0px 0px 0px;
    font-size: 48px;
    color: var(--primary-color);
    text-align: center;

}


article {
    position: absolute;
    top: 150px;
    left: 30px;
    right: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
}

.hero article img {
    float: right;
    height: 200px;
    width: auto;
    border-radius: 10px;
}

article p {
    font: size 18px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
}

