@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    /* 43bccd-d1c8e1-153243-284b63-fcb97d */
    --primary-color: #43bccd;
    --secondary-color:#153243 ;
    --accent1-color: #d1c8e1;
    --accent2-color: #284b63;

    --heading-font: 'Open Sans', sans-serif;
    --paragrah-font: 'Open Sans', sans-serif;

    --nav-background-color: #d1c8e1;
    --nav-link-color: #fcb97d;
    --nav-hover-link-color:#284b63;
    --nav-hover-background-color: white;
}
* {
    box-sizing: border-box;
}

header, main, footer {
    max-width: 1200px;
    margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family);
    color: var(--primary-color);
}

p {
    font-family: var(--font-family);
    color: var(--secondary-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
    display:block;
    padding: 0.5rem;
    font-size:1.2rem;
    font-weight:700;
    
}

a:hover {
    color: var(--secondary-color);
}



.hero {
    position: relative;
}

.hero img {
    width: 1500px;
    display: block;
    height: 800px;
}

.hero h1 {
    position: absolute;
    top:50px;
    left: 0;
    right: 0;
    border-radius: 10px 0px 0px 0px;
    font-size: 48px;
    color: var(--primary-color);
    text-align: center;

}


article {
    position: absolute;
    top: 150px;
    left: 30px;
    right: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.hero article img {
    float: right;
    height: 200px;
    width: auto;
    border-radius: 10px;
}

article p {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
}

.Contact {
    width: 590px; 
    float:left; 
    height:auto; 
    background:#fff; 
    margin:10px;
}
.Map {
    width: 100px; 
    float:left; 
    height:100px; 
    background:#fcb97d; 
    margin:10px;
}
.Map-div iframe{
    padding: 0px;
    width: 590px;
    height: 600px;
    border: none;
    border-radius: 10px;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
 
input[type=submit]{
    background-color: #153243;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
input[type=submit]:hover {
    background-color: #43bccd;
  }
  
  
.container{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
header{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    align-items: center;
    
}
.logo{
    grid-column: 1;
}
.nav {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
}

.history{
    columns: 3;
    column-gap: 20px;
    display: block;

}
.column{
    break-inside: avoid;
    width: 300px;
    height: 300px;
}

.column img{
    width: 40px;
    height: 30px;
    margin:0;
}

h2{
    text-align: center;
}

.adventure{
    width: 50px;
    height: 40px;
    display: flex;

}

