@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');

body {
 font-family: var(--paragraph-font);
 max-width: 960px;
 padding: 20px;
}

:root {
--primary-color:blue;
--secondary-color:purple;
--accent1-color:grey ;
--accent2-color:turquoise;

--heading-font:'45px', serif;
--paragrah-font:'27px',serif;

--nav-background-color:grey;
--nav-link-color:yellow;
--nav-hover-link-color:blue;
--nav-hover-background-color:white;
}
h1,h2,h3,h4,h5,h6 {
    font-family: var(--paragrah-font);
    color:var(--primary-color);
}
header {
    padding: 20 px;
    background-color: var(--accent1-color);
}

p{
    padding: 25 px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color:var(--nav-hover-link-color);
    text-decoration: none;
    padding:1rem;

}

nav a:link,nav a:visited{
    color:var(--nav-hover-link-color)
}

nav a:hover {
    color:var(--nav-hover-link-color);
}
nav a:hover{
    color:var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}